# Anthropic
ANTHROPIC_API_KEY=

# EODHD
EODHD_API_KEY=

# Telegram PROD
TELEGRAM_BOT_TOKEN=
TELEGRAM_CHAT_ID=

# Telegram STAGING
TELEGRAM_BOT_TOKEN_STAGING=
TELEGRAM_CHAT_ID_STAGING=

# Vercel KV PROD
KV_REST_API_URL=
KV_REST_API_TOKEN=

# Vercel KV STAGING
KV_REST_API_URL_STAGING=
KV_REST_API_TOKEN_STAGING=

# Środowisko
VITE_ENV=staging
